@using XerifeTv.CMS.Modules.User.Dtos.Response

@model GetUserResponseDto

<form 
  class="w-100" 
  asp-action="UserUpdatePassword" 
  asp-controller="Settings"
  method="post"
  data-confirm="Confirmar ação?">
  <input type="hidden" name="id" value="@Model?.Id"/>
  
  <div class="row mb-3">
    <div class="col-12">
      <label for="oldPassword" class="form-label">Senha Atual</label>

      <div class="input-group">
        <input
          type="password"
          class="form-control"
          id="oldPassword"
          name="oldPassword"
          placeholder="digite aqui..."
          required
          disabled>

        <div
          class="input-group-text fw-bold show-hide-password"
          style="font-size: 12px;"
          role="button">
          <i class="fa-regular fa-eye-slash"></i>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-12 col-lg-6">
      <label for="newPasswordConfirm" class="form-label">Nova Senha</label>

      <div class="input-group">
        <input
          type="password"
          class="form-control"
          id="newPasswordConfirm"
          name="newPasswordConfirm"
          placeholder="digite aqui..."
          required
          disabled>

        <div
          class="input-group-text fw-bold show-hide-password"
          style="font-size: 12px;"
          role="button">
          <i class="fa-regular fa-eye-slash"></i>
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-6">
      <label for="newPassword" class="form-label">Confirmar Senha</label>

      <div class="input-group">
        <input
          type="password"
          class="form-control"
          id="newPassword"
          name="newPassword"
          placeholder="digite aqui..."
          required
          disabled>

        <div
          class="input-group-text fw-bold show-hide-password"
          style="font-size: 12px;"
          role="button">
          <i class="fa-regular fa-eye-slash"></i>
        </div>
      </div>
    </div>
  </div>

  <button
    type="button"
    class="btn btn-primary mt-4 unblock-form"
    data-title="Salvar">
    Editar
  </button>
</form>