@{
  ViewBag.Title = "Esqueci senha";
}

<style>
  .email-reset-form
  {
    max-width: 480px;
    border-radius: 0.5rem;
    background: #242424;
  }

  @@media (max-width: 500px)
  {
    .email-reset-form
    {
      width: 100% !important;
    }
  }
</style>

<div class="container d-flex flex-column justify-content-center align-items-center" style="height: 80vh;">
  <form class="w-50 p-4 py-5 email-reset-form position-relative">
    <div class="w-100 mb-2">
      <h2 class="fst-italic fw-bold text-center text-light mb-2">Esqueceu a Senha?</h2>
      <span class="fs-6 text-light opacity-75 d-block text-center">
        Para redefinir sua senha, digite seu e-mail cadastrado. Você receberá um link válido por tempo limitado.
      </span>
    </div>
    
    <div class="mb-4 mt-5">
      <label for="email" class="form-label text-light">Seu e-mail</label>
      <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        placeholder="email@example.com"
        required>
    </div>

    <button type="submit" class="btn btn-primary w-100 mt-1">Enviar Link</button>

    <div
      class="w-100 d-flex justify-content-center align-items-center position-absolute"
      style="right: 0; bottom: -2.5rem;">
      <a
        href="@Url.Action("SignIn")"
        role="button"
        class="link-offset-2 link-underline link-underline-opacity-0">
        Voltar para o login
      </a>
    </div>
  </form>
</div>
