@using XerifeTv.CMS.Modules.User.Dtos.Response;

@model ValidateResetPasswordGuidResponseDto?

@{
  ViewBag.Title = "Redefinir senha";
}

<style>
  .password-reset-form
  {
    max-width: 480px;
    border-radius: 0.5rem;
    background: #242424;
  }

  @@media (max-width: 500px)
  {
    .password-reset-form
    {
      width: 100% !important;
    }
  }
</style>

<div class="container d-flex flex-column justify-content-center align-items-center" style="height: 80vh;">
  @if (Model is null)
  {
    <div class="w-50 p-4 py-5 password-reset-form position-relative">
      <h2 class="text-center text-light">Link inválido</h2>

      <div
        class="w-100 d-flex justify-content-center align-items-center position-absolute"
        style="right: 0; bottom: -2.5rem;">
        <a
          href="@Url.Action("SignIn")"
          role="button"
          class="link-offset-2 link-underline link-underline-opacity-0">
          Voltar para o login
        </a>
      </div>
    </div>
  }
  else
  {
    <form 
      method="post"
      asp-controller="Users"
      asp-action="ResetPassword"
      class="w-50 p-4 py-5 password-reset-form position-relative"
      data-confirm="Confirmar ação?">
      <input type="hidden" name="id" value="@Model.UserId"/>
      <input type="hidden" name="codeGuid" value="@Model.CodeGuid"/>

      <div class="w-100 mb-4">
        <h2 class="fst-italic fw-bold text-center text-light mb-2">Redefinir Senha</h2>
        <span class="fs-6 text-light opacity-75 d-block text-center">
          @Model.UserEmail
        </span>
      </div>

      <div class="mb-3">
        <label for="password" class="form-label text-light">Nova Senha</label>
        <div class="input-group">
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            placeholder="digite aqui..."
            required>

          <div
            class="input-group-text fw-bold show-hide-password"
            style="font-size: 12px;"
            role="button">
            <i class="fa-regular fa-eye-slash"></i>
          </div>
        </div>
      </div>

      <div class="mb-4">
        <label for="password" class="form-label text-light">Confirmar Senha</label>
        <div class="input-group">
          <input
            type="password"
            class="form-control"
            id="confirmPassword"
            name="confirmPassword"
            placeholder="digite aqui..."
            required>

          <div
            class="input-group-text fw-bold show-hide-password"
            style="font-size: 12px;"
            role="button">
            <i class="fa-regular fa-eye-slash"></i>
          </div>
        </div>
      </div>

      <button type="submit" class="btn btn-primary w-100 mt-1">Salvar</button>
    </form>
  }
</div>

