@using XerifeTv.CMS.Modules.Authentication.Enums

@{
  ViewData["Title"] = "SignIn";
}

<style>
  .signin-form 
  {
    max-width: 450px; 
    border-radius: 0.5rem; 
    background: #242424;
  }
  
  @@media (max-width: 500px) 
  {
    .signin-form
    {
      width: 100% !important;
    }
  }
</style>

<div class="container d-flex flex-column justify-content-center align-items-center" style="height: 80vh;">
  
  <form 
    id="signInForm"
    asp-controller="Users"
    asp-action="SignIn"
    class="w-50 p-4 py-5 signin-form position-relative">

    <input type="hidden" id="provider" name="provider" value="@((int)ELoginProvider.Basic)" />
    <input type="hidden" id="externalToken" name="externalToken" value="" />

    <div class="w-100 d-flex justify-content-center mb-5 py-1">
      <img src="~/assets/logo.png" alt="logo" style="width: 60%;"/>
    </div>

    <div class="mb-3">
      <label for="userNameOrEmail" class="form-label text-light">Usuário ou E-mail</label>
      <input 
        type="text" 
        class="form-control" 
        id="userNameOrEmail" 
        name="userNameOrEmail" 
        placeholder="digite aqui..." 
        required>
    </div>
    <div class="mb-4">
      <label for="password" class="form-label text-light">Senha</label>
      <div class="input-group">
        <input 
          type="password" 
          class="form-control"
          id="password" 
          name="password" 
          placeholder="digite aqui..." 
          required>

        <div 
          class="input-group-text fw-bold show-hide-password" 
          style="font-size: 12px;" 
          role="button">
          <i class="fa-regular fa-eye-slash"></i>
        </div>
      </div>
    </div>

    <button type="submit" class="btn btn-primary w-100 mt-1">Login</button>
    <div id="googleSignInDiv" class="mt-3" style="width: 100% !important;">
      <button id="googleSignInBtn"></button>
    </div>

    <div 
      class="w-100 d-flex justify-content-center align-items-center position-absolute"
      style="right: 0; bottom: -2.5rem;">
      <a
        href="@Url.Action("EmailResetPasswordForm")"
        role="button"
        class="link-offset-2 link-underline link-underline-opacity-0">
        Esqueci minha senha
      </a>
    </div>
  </form>
</div>

@section scripts {
    <script>
        function handleGoogleCredentialResponse(response) {
            const idToken = response.credential;
            $('#externalToken').val(idToken);
            $('#provider').val(@((int)ELoginProvider.Google));

            $('button').prop('disabled', true);
            $('input').prop('readonly', true);
            $('#signInForm').trigger('submit');
        }

        $(document).ready(function () {
            google.accounts.id.initialize({
                client_id: '@ViewBag.GoogleClientId',
                callback: handleGoogleCredentialResponse
            });

            google.accounts.id.renderButton(
                document.getElementById('googleSignInBtn'), { 
                    theme: 'outline', 
                    size: 'large',
                    width: document.getElementById('googleSignInDiv')?.offsetWidth
                }
            );
        });
    </script>
}